<html lang="en">
      <head>
            <%- include('../partials/head') %>
      </head>
      <body>
            <%- include('../partials/products')%>
            <footer>
                  <%- include('../partials/footer')  %> 
                  <script src="/js/tablaMocks.js"></script>
            </footer>
      </body>
</html>