<div  class="container">
      <div>
            <h2>Ingrese Producto</h2>
            <br>
            <form onsubmit="addProduct(this)">
                  <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                  </div>
      
                  <div class="mb-3">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="precio" name="precio" required>
                  </div>
      
                  <div class="mb-3">
                        <label for="urlImg" class="form-label">URL Imagen</label>
                        <input type="text" class="form-control" id="urlImg" name="urlImg" required>
                  </div>
                  <input type="submit" class="btn-primary" value="Agregar">
            </form>
            <br>
      </div>
      
</div>