<div class="containerMensajes">
      <div>
            <h2>Centro de Mensajes</h2>
            <br>
            <p id="compresion"></p>
            <form onsubmit="addMessage(this)" class="chat">  
                  <div class="mensajes" id="mensajes" style="height:400px"></div>
                  <input type="text" class="form-control" id="texto" placeholder="..." name="texto">
                  <input type="submit" value="Enviar">
            </form>
      </div>
</div>
<script src="../../../public/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/index.d.ts"></script>