<div class="container">
    <p>Bienvenido/a. Ingrese con sus datos o regístrese</p>
      <form action="/login" method="POST">
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>

                        <input type="text" class="form-control" name="email" required/>

            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>

                        <input type="password" class="form-control" name="password" required/>

            </div>
            <input class="btn btn-success" type="submit" value="Iniciar sesion"/>
           <a href="http://localhost:8080/signup" class="btn btn-primary btn-signup">Registrarme</a>
    </form>
</div>