<div class="container">
      <table class="table table-striped">
            <thead>
                  <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Img</th>
                  </tr>
            </thead>
            <tbody id="tabla"></tbody>
      </table>    
      <a href="http://localhost:8080/test", type="button">TEST</a>     
</div>
