.titulo {
      text-align: center;
}
.navbar{
      background-color: rgb(135, 195, 241);
      border-radius: 10px;
      margin: 20px;
      padding: 40px !important;
}
.container{ 
      background-color: rgb(135, 195, 241);
      border-radius: 10px;
      margin: 20px;
      padding: 40px !important;
}
.table {
      background-color: white;
      border-radius: 10px;
      width: 90% !important;
      margin: auto;
}
.containerMensajes{
      background-color: rgb(135, 195, 241);
      border-radius: 10px;
      margin: 50px;
      padding: 40px !important;
      width: 50%
}
.mensajes {
      background-color: white;
      height: 100px;
      border-radius: 5px;
      overflow: scroll;
}
.chat{
      border-radius: 10px;
}
.chat-form{
      width: 100%;
      margin: auto
}
.container-login{
      background-color: rgb(135, 195, 241);
      border-radius: 10px;
      margin: 50px;
      padding: 40px !important;
      width: 50%
}