{{#if data.length}}
        {{#each data}}
        <tr id="{{this.id}}">
            <td>{{this.nombre}}</td>
            <td>${{this.precio}}</td>
            <td><img width="50" src={{this.foto}} alt="not found"></td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}