<div class="navbar">
      <form action="http://localhost:8080/login" method="POST">
            <div class="mb-3 row">
                <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>

                        <input type="text" class="form-control" id="inputUsername" name="username">

            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>

                        <input type="password" class="form-control" id="inputPassword" name="password">

            </div>
            <input type="submit" value="Iniciar sesion">
    </form>
    <a href="http://localhost:8080/signup"><button>Registrarse</button></a>
</div>