
<div class="container">
      <h3>Complete los siguientes campos para registrarse</h3>
      <form class="chat-form" action="http://localhost:8080/signup" method="POST">
            <input type="email" class="form-control" id="email" placeholder="email" name="email"><br>
            <input type="text" class="form-control" id="nombre" placeholder="nombre" name="nombre"><br>
            <input type="text" class="form-control" id="apellido" placeholder="apellido" name="apellido"><br>
            <input type="number" class="form-control" id="edad" placeholder="edad" name="edad"><br>
            <input type="text" class="form-control" id="alias" placeholder="alias" name="alias"><br>
            <input type="text" class="form-control" id="avatar" placeholder="avatar" name="avatar"><br>
            <input type="text" class="form-control" id="password" placeholder="password" name="password"><br>
            <input type="submit">
      </form>
</div>