<% document.getElementById('tabla').append( %>
<% socket.on('productos', productos => { %>
      <div>
            <hr>
            <h2 class="titulo">Vista de productos</h2>
            <% if (productos) { %>
                  <table class="table table-striped">
                        <thead>
                              <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Img</th>
                              </tr>
                        </thead>
                        <tbody>
                              <% productos.forEach(element => { %>
                              <tr> 
                                    <td><%= element.nombre %></td>
                                    <td>$<%= element.precio %></td>
                                    <td><img src=<%=element.thumbnail %> width="40px" height="40px"></td>
                              </tr>
                              <% }); %>
                        
            <% } else { %>
                  <h4>No hay productos</h4>
            <% } %>
      </div>
<%})%>
      

<% ) %>



