<html lang="en">
      <head>
            <%- include('../partials/head') %>
      </head>
      <body>
                  <div class="navbar-error">
                        <h3><img src="https://cdn2.iconfinder.com/data/icons/picons-basic-2/57/basic2-085_warning_attention-256.png" style="width: 50px">Login error</h3>
                        <hr>
                        <a class="btn btn-primary" href="/">Volver</a>
                  </div>
                  <%- include('../partials/footer')  %> 
            </footer>
      </body>
</html>