<html lang="en">
      <head>
            <%- include('../partials/head') %>
      </head>
      <body>
                  <div class="navbar">
                        <h3>Las contraseñas deben ser idénticas.</h3>
                        <hr>
                        <a class="btn btn-primary" href="/">Volver</a>
                  </div>
                  <%- include('../partials/footer')  %> 
            </footer>
      </body>
</html>