<html lang="en">
      <head>
            <%- include('../partials/head') %>
      </head>
      <body>
            <div class="container">
                  <p>
                        <%= data %>
                  </p>
            </div>
      </body>
</html>